.main_container {
    background-color: #4d4c4c;
    position: relative;
    top: 8rem;
    margin-left: 24.0625rem;
    margin-right: 40.3128rem;
    width: 43.75rem;
}

.list_header {
    height: 3rem;
}

.nav_list {
    display: flex;
}

.head_list {
    align-items: center;
}

.nav_item {
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-right: 2rem;
    color: #ffffff;
}

.artical_line {
    display: block;
}

.entry_list {
    width: 100%;
    background-color: #696969;
    position: relative;
}

.ulstyle {
    margin: 0;
    padding: 0;
}

.artical_item {
    list-style: none;
    display: list-item;
    position: relative;
    width: 100%;
    height: 8.8033rem;
    padding-bottom: .1rem;
    border-bottom: .1rem solid #e5e6eb;
}

.item_container {
    cursor: pointer;
    position: relative;
    background: #696969;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    font-size: .75rem;
        height: 1.3743rem;
        width: 41.25rem;
}

.writer_item {
    display: inline-block;
    justify-content: flex-start;
    margin-right: .5rem;
    font-size: .8125rem;
    line-height: 1rem;
    color: #d3d1d1;
}

.time_item {
    display: inline-block;
    justify-content: flex-start;
    margin-right: .5rem;
    font-size: .8125rem;
    line-height: 1rem;
    color: #d3d1d1;
}

.tag_item {
    display: inline-block;
    margin-right: .5rem;
    justify-content: flex-start;
    font-size: .8125rem;
    line-height: 1rem;
    color: #d3d1d1;
}

.artical_container {
    display: flexbox;
    width: 100%;
    height: 6.75rem;
}

.artical_main {
    flex: 1 1 auto;
}

.title_item {
    display: flex;
    margin-left: 1.25rem;
    line-height: normal;
    width: 41.25rem;
    cursor: pointer;
    flex-direction: column;
    border-bottom-style: solid;
    text-align: left;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
}

.anothercontainer {
    display: block;
}

.title {
    font-weight: 500;
    font-size: 1.5rem;
    height: 1.875rem;
        text-decoration: none;
        color: #ffffff;
        width: 6.75rem;
    }
    
    .abstract_container {
        margin-top: 20px;
    }
    
    .abstract {
        color: #86909c;
        font-size: .8125rem;
        line-height: 1.375rem;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        text-decoration: none;
    }
    
    .abstract_div {
        display: block;
    }
    
    .advertise {
        position: absolute;
        top: 0;
        right: -19rem;
    }
    
    .advertise img {
        height: 15rem;
        width: quto;
}

.writer_block {
    background-color: #696969;
    position: absolute;
    display: block;
    top: 16.5rem;
    right: -19rem;
    width: 17.6914rem;
}

.bangdan {
    display: flex;
    align-items: center;
    height: 3rem;
        font-size: 2rem;
        color: rgb(209, 209, 209);
        padding-bottom: 0.8rem;
        border-bottom: 0.03rem dashed white;
}

.writerlistcontainer {
    display: block;
    width: 100%;
}

.writers_list_item {
    display: inline-block;
    color: rgb(238, 238, 238);
    padding-bottom: 0.8rem;
    font-size: 1.2rem;
}

.writer_intro {
    display: flex;
    font-size: 0.8rem;
    color: rgb(190, 190, 190);
    border-bottom: 0.02rem solid rgb(36, 36, 36);
}

@media screen and (max-width: 48.6875rem) {
    .main_container {
        top: .5rem;
        margin-left: 0rem;
        margin-right: 0rem;
        width: 100.4%;


        .advertise {
            display: none;
        }

                                                                .writer_block {
                                                                    display: none;
                                                                }
                                                                }
}