.container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 60rem;
}

.tagNavBar {
    left: 0;
    background-color: rgb(114, 110, 110);
    position: fixed;
    top: 4.3rem;
    width: 100%;
    height: 3.22rem;
    z-index: 100;
    box-shadow: 2px 0px 0px 0px rgba(151, 42, 42, 0.87);
    transition: all .2s;
    transform: translateZ(0);
}

.tagitem {
    max-width: 960px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    line-height: 1;
}

.tag {
    height: 100%;
    display: flex;
    align-items: center;
    line-height: 1;
    margin: auto;
.tag_color {
        color: rgb(178, 178, 196);
        text-decoration: none;
    }
}


.tag a:hover {
    color: rgb(199, 198, 255);
        background-color: rgb(77, 72, 72);
    }
    
    @media screen and (max-width: 48.6875rem) {
        .container {
            position: relative;
            top: 0.04rem;
    
            .viewline {
                margin-top: 0rem;
            }
    
            .tagNavBar {
                display: fixed;
                position: relative;
                top: 0rem;
            }
    
            .tagitem {
                display: inline-flex;
            }
        }
}
// @include media-ipad {
// }